{% extends 'findmeal/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact Us - {{ block.super }}{% endblock %}

{% block content %}
<h2>Bize Yazın</h2>
<hr />

<form action="/contact/" method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.full_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.sender|as_crispy_field }}
      </div>
    </div>
    {{ form.subject|as_crispy_field }}
    {{ form.message|as_crispy_field }}

    <input type="submit" class="btn btn-primary float-right" value="Gönder">
</form>
{% endblock %}
