{% extends 'findmeal/base.html' %}

{% block title %}{{ block.super }} - Ana Sayfa {% endblock %}

{% block content %}
<div class="row">
  <form autocomplete="off" id="s-ing">
    <div class="autocomplete" id="otto">
      <input type="text" id="search-ingredient" class="form-control" name="ingredient"
      placeholder="Elindeki malzemeleri yazmaya başla..." aria-label="Malzemeler" aria-describedby="basic-addon2" />
    </div>
  </form>
</div>

<!--<form action="{% url 'findmeal:search' %}" method="get">-->
  <div class="row" id="content">

  </div>

  <div class="row">
    <button type="button" id="search-button" class="btn btn-lg btn-primary" disabled>Tarif Ara</button>
  </div>
<!--</form>-->


{% endblock %}
