{% extends 'findmeal/base.html' %}

{% block title %}{{ block.super }} - Ana Sayfa{% endblock %}

{% block content %}
<div class="row">
  <form autocomplete="off" id="s-ing">
    <div class="autocomplete">
      <input type="text" id="search-ingredient" class="form-control" name="ingredient"
      placeholder="Elindeki malzemeleri yazmaya başla..." aria-label="Malzemeler" aria-describedby="basic-addon2" />
    </div>
  </form>
</div>

<!--
<div class="row">
  <div class="card card-outline-danger text-center ">
    <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
-->
{% endblock %}
