{% extends 'findmeal/base.html' %}

{% block title %}Ana Sayfa - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <form autocomplete="off" id="search-ingredient-form" method="post" action="{% url 'findmeal:list' %}">
    {% csrf_token %}
    <div class="autocomplete">
      <input type="text" id="search-ingredient-input" class="form-control" name="ingredient"
      placeholder="Elindeki malzemeleri yazmaya başla..." aria-label="Malzemeler" aria-describedby="basic-addon2" />
    </div>
  </form>
</div>

<form action="{% url 'findmeal:search' %}" method="get">
  <div class="row" id="content">
  </div>

  <div class="row">
    <button type="submit" id="search-button" class="btn btn-lg btn-primary" disabled>Tarif Ara</button>
  </div>
</form>
{% endblock %}
